@import url("them.css");
@import url("varriables.css");

@font-face{
 font-family: 'sahel';
 src: url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.ttf') format('truetype'),
 url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.woff') format('woff'),
 url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.woff2') format('woff2');
}

body{

    background-color: var(--primary);
    direction: rtl;
    font-family: Spectral, serif;
    margin: 0;
    font-family: sahel;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menubar{
display: flex;
height: 100px;
background-color: var(--secondary);
justify-content: space-between;
align-items: center;
padding-left: 50px;
padding-right: 50px;
margin: 0px;

}

.logo{
width: 70px;
height: 70px;
border-radius: 50px;
}
.web_name{
color: var(--titr);
font-weight:bolder;
font-size: 40px;
}
.icon{
    position: relative;
}
.icon .cart_count{
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    background: var(--cart_count);
    color: var(--icon-cart);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 0;
}
.icon_menu{
    color: var(--titr);
    font-weight:bolder;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shopping_cart{
    padding-left: 40px;

}
.shopping_cart_title{
    font-size: large;
    font-weight: bold;
    color: var(--secondary);
    display: flex;
    justify-content: center;
}


.cart_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    align-content: center;
}
.shopping_cart_text{
color: var(--secondary);
font-size: 18px;
line-break: anywhere;
margin-left: 20px;

}
.cart_button{
    color:var(--secondary);
    padding: 0px 5px;
    border: 2px solid  var(--secondary);
    width: 20px;
    height: 21px;
}
.input_number{

    text-align: center;
    color: var(--secondary);
    border: 2px solid  var(--secondary);
    width: 50px;
    height: 15px;

}

.modal-container {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.modal-container #modal-toggle:checked~.modal-backdrop {
    background-color: var(--modal_backdrop);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    pointer-events: none;
    opacity: 1;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content {
    background-color: var(--icon-cart);
    max-width: 400px;
    height: auto;
    padding: 10px 30px;
    margin: 30px;
    position: absolute;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    box-shadow: 0 3px 7px var(--modal_backdrop);
}

@media (max-width: 400px) {
    .modal-container #modal-toggle:checked~.modal-backdrop .modal-content {
        left: 0;
    }
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close {
    color: var(--secondary);
    position: absolute;
    right: 20px;
    top: 10px;
    padding-top: 7px;
    background: var(--icon-cart);
    font-size: 30px;
    width: 25px;
    height: 28px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close:hover {
    color: #333;
}
