@font-face{
    font-family: 'sahel';
    src: url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.ttf') format('truetype'),
    url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.woff') format('woff'),
    url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.woff2') format('woff2');
   }

body{
    margin: 0px;
    background-color: var(--icon-cart);
    direction: rtl;
    font-family: Spectral, serif;
    margin: 0px;
    font-family: MyFontName, 'Segoe UI', Tahoma, sans-serif;
    font-family: sahel;
}


@media only screen and  (max-width:480px ) {

    
     .cart_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .product_img{
        

     }
  }
  @media only screen and  (min-width:481px ) and (max-width:768px)
{
        
    /* .item{
        width: 48%;
    } */


}
@media only screen and  (min-width:769px ) and (max-width:1279px) {
    
    /* .item{
        width: 30%;
    } */


}

@media only screen and (min-width:1280px) {
    /* .item{
        width: 22%;
    } */
}


.product_img{
    height: 400px;
    width: 400px;
}
.product_summary{
    display: flex;
    justify-content: center;
    border: 1px var(--item_border) solid;

    border-radius: 15px;
}
.description_product{
    display: flex;
    flex-direction: column;
}
.title_product{
    color: var(--secondary);
    font-size: 24px;
    font-weight: bolder;
}
.text_eng{
    font-size: medium;
    padding-top: 0%;
    color: var(--eng-text);

}
.product_feature h1 {
    color: var(--secondary);
    font-weight: bolder;
    padding-right: 5px;
    font-size : 30px;
}

.feature_list{
    display: flex;
    line-height: 10%;
    color: var(--eng-text);
    font-weight:bold;
    font-size: medium;
    align-items: center;

}
.text{
    color: var(--secondary);
    font-weight: bold;
    padding-right: 5px;
    font-size: large;
}
.Specification_table{
    border: 1px var(--item_border) solid;
    /* padding-right: 30px; */
    /* width: 30%; */
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    margin-right: 40px;
    background-color: var(--white);
    justify-content: center;
    border-radius: 15px;

}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    padding-top: 70px;


}

.product_text{
    /* padding: 10px; */
    padding-right: 5px;
    color: var(--secondary);
    font-size: 18px;
}
.product_features i {
    padding: 5px;
    color: var(--secondary);
    font-size: 18px; 
}
.Specification_item{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}


.button_cart{
    color: var(--titr);
    font-size:  var(--medium_fontsize);
    font-weight: bold;
    border-radius: 20px;
    padding: 7px;
    height: 45px;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    cursor: pointer;
    font-family: sahel;
    transition: 0.5s;
}
.button{
    display: flex;
    justify-content:center;

}
.button i{
    color: var(--titr);
    margin: 0%;
}
.button_cart:hover {

    transform: scale(1.1);
    padding: 0 20px;
    background-color: var(--blue);
    border-radius: 30px;

}