.cart_text_item {
    display: flex;
    flex-wrap: nowrap;
}

.item-links {
    text-decoration: none;
}


.text {
    color: var(--secondary);
    font-size: var(--text_fontsize);
    display: flex;
    justify-content: center;


}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 200vh;

}

.item {
    border: 1px var(--item_border) solid;
    box-shadow: 10px 10px 5px var(--box_shadow);
    margin: 10px;
    position: relative;


}

.item_sale {
    flex-direction: column;
    line-height: 0%;
}

.item .item_sale {
    position: absolute;
    border-radius: 50%;
    font-size: var(--medium_fontsize);
    background: var(--cart_count);
    color: var(--icon-cart);
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items_img {
    width: 100%;
    height: 300px;
}

.text_decoration {
    font-size: var(--medium_fontsize);
    font-weight: bold;
    color: var(--secondary);
    text-align: center;
}

.button_card {
    color: var(--titr);
    font-size:  var(--medium_fontsize);
    font-weight: bold;
    border-radius: 20px;
    padding: 7px;
    height: 45px;
    transition: 0.5s;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    cursor: pointer;
    font-family: sahel;
}

.button_card:hover {

    transform: scale(1.1);
    padding: 0 20px;
    background-color: var(--blue);
    transition-delay: 0.2s;
    border-radius: 30px;

}

.price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.price_sale {
    color: var(--box_shadow);
}

.text_item_cart {
    display: flex;
    flex-wrap: nowrap;
}

.sale_number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:480px) {
    .item {
        width: 100%;
    }

    .button_card {
        color: var(--secondary);
        border: 2px solid var(--titr);
        background-color: var(--titr);
    }

    .price {

        flex-direction: column;
    }

    .cart_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {


    .item {
        width: 40%;
    }

}

@media only screen and (min-width:769px) and (max-width:1279px) {

    .item {
        width: 30%;
    }


}

@media only screen and (min-width:1280px) {
    .item {
        width: 22%;
    }
}


.menu_web {
    background-color: var(--sticky_menu);
    color: var(--titr);
    display: flex;
    width: 100%;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;



}

.text_menu_web {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;

}

.text_menu_web p {
    padding-left: 30px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 900;

}