@import url("them.css");
@import url("varriables.css");

@font-face{
 font-family: 'sahel';
 src: url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.ttf') format('truetype'),
 url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.woff') format('woff'),
 url('assets/font/sahel-font-v1.0.0-alpha14/Sahel.woff2') format('woff2');
}

body{

    background-color: var(--primary);
    direction: rtl;
    font-family: Spectral, serif;
    margin: 0;
    font-family: sahel;
}

.menu{
    display: flex;
    flex-direction: column;
}
.menubar{
display: flex;
height: 100px;
background-color: var(--secondary);
justify-content: space-between;
align-items: center;
padding-left: 50px;
padding-right: 50px;
margin: 0px;

}

.logo{
width: 70px;
height: 70px;
border-radius: 50px;
}
.web_name{
color: var(--titr);
font-weight:bolder;
font-size: 40px;
}
.icon{
    position: relative;
}
.icon .cart_count{
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    background: var(--cart_count);
    color: var(--icon-cart);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 0;
}
.icon_menu{
    color: var(--titr);
    font-weight:bolder;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shopping_cart{
    padding-left: 40px;

}
.shopping_cart_title{
    font-size: large;
    font-weight: bold;
    color: var(--secondary);
    display: flex;
    justify-content: center;
}


.cart_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    align-content: center;
}
.shopping_cart_text{
color: var(--secondary);
font-size: 18px;
line-break: anywhere;
margin-left: 20px;

}
.cart_button{
    color:var(--secondary);
    padding: 0px 5px;
    border: 2px solid  var(--secondary);
    width: 20px;
    height: 21px;
}
.input_number{

    text-align: center;
    color: var(--secondary);
    border: 2px solid  var(--secondary);
    width: 50px;
    height: 15px;

}

.modal-container {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.modal-container #modal-toggle:checked~.modal-backdrop {
    background-color: var(--modal_backdrop);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    pointer-events: none;
    opacity: 1;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content {
    background-color: var(--icon-cart);
    max-width: 400px;
    height: auto;
    padding: 10px 30px;
    margin: 30px;
    position: absolute;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    box-shadow: 0 3px 7px var(--modal_backdrop);
}

@media (max-width: 400px) {
    .modal-container #modal-toggle:checked~.modal-backdrop .modal-content {
        left: 0;
    }
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close {
    color: var(--secondary);
    position: absolute;
    right: 20px;
    top: 10px;
    padding-top: 7px;
    background: var(--icon-cart);
    font-size: 30px;
    width: 25px;
    height: 28px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close:hover {
    color: #333;
}



.menu_web {
    background-color: var(--sticky_menu);
    color: var(--titr);
    display: flex;
    width: 100%;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 10px;



}

.text_menu_web {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;

}

.text_menu_web p {
    padding-left: 30px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 900;

}



.cart_text_item {
    display: flex;
    flex-wrap: nowrap;
}

.item-links {
    text-decoration: none;
}


.text {
    color: var(--secondary);
    font-size: var(--text_fontsize);
    display: flex;
    justify-content: center;


}

.card-web {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 200vh;

}

.item {
    /* border: 1px var(--item_border) solid; */
    box-shadow: 10px 10px 5px var(--box_shadow);
    margin: 10px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */


}

.item_sale {
    flex-direction: column;
    line-height: 0%;
}

.item .item_sale {
    position: absolute;
    border-radius: 50%;
    font-size: var(--medium_fontsize);
    background: var(--cart_count);
    color: var(--icon-cart);
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

.items_img {
    width: 100%;
    height: 300px;
}

.text_decoration {
    font-size: var(--medium_fontsize);
    font-weight: bold;
    color: var(--secondary);
    text-align: center;
}

.button_card {
    color: var(--titr);
    font-size:  var(--medium_fontsize);
    font-weight: bold;
    border-radius: 20px;
    padding: 7px;
    height: 45px;
    transition: 0.5s;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    cursor: pointer;
    font-family: sahel;
}

.button_card:hover {

    transform: scale(1.1);
    padding: 0 20px;
    background-color: var(--blue);
    transition-delay: 0.2s;
    border-radius: 30px;

}

.price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.price_sale {
    color: var(--box_shadow);
}

.text_item_cart {
    display: flex;
    flex-wrap: nowrap;
}

.sale_number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:480px) {
    .item {
        width: 100%;
    }

    .button_card {
        color: var(--secondary);
        border: 2px solid var(--titr);
        background-color: var(--titr);
    }

    .price {

        flex-direction: column;
    }

    .cart_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {


    .item {
        width: 40%;
    }

}

@media only screen and (min-width:769px) and (max-width:1279px) {

    .item {
        width: 30%;
    }


}

@media only screen and (min-width:1280px) {
    .item {
        width: 22%;
    }
}
